In [1]:
import numpy as np
import pandas as pd
import seaborn as sns

In [6]:
df  = pd.read_csv('../data/cdc_sex_age_state_filtered.csv')
df.drop(['Unnamed: 0'], axis = 1, inplace=True)
df.head()

,State,Sex,Age Group,COVID-19 Deaths,Total Deaths,Pneumonia Deaths,Pneumonia and COVID-19 Deaths,Influenza Deaths,"Pneumonia, Influenza, or COVID-19 Deaths"
0,Alabama,Male,Under 1 year,2.0,260.0,8.0,0.0,5.0,2.0
1,Alabama,Male,1-4 years,0.0,57.0,0.0,0.0,0.0,0.0
2,Alabama,Male,5-14 years,0.0,76.0,7.0,0.0,0.0,3.0
3,Alabama,Male,15-24 years,7.0,644.0,8.0,6.0,2.0,13.0
4,Alabama,Male,25-34 years,41.0,1115.0,37.0,14.0,8.0,66.0

In [12]:
summary_df = df.groupby('Sex').agg(np.sum)
prob_df = summary_df.apply(lambda x : x/summary_df['Total Deaths'])

In [13]:
prob_df

,COVID-19 Deaths,Total Deaths,Pneumonia Deaths,Pneumonia and COVID-19 Deaths,Influenza Deaths,"Pneumonia, Influenza, or COVID-19 Deaths"
Sex,,,,,,
Female,0.122936,1.0,0.103972,0.055990,0.002423,0.172888
Male,0.135333,1.0,0.120342,0.069655,0.002322,0.187810